@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --primary-color: #5a4ad1;
  --primary-color-dark-mode: #847cc6;
  --text-color: #40434a;
  --text-color-dark-mode: #f4f6f9;
  --border-color: #d3d3d378;
  --grey: #9ba0ab;
  --light-grey: #bdc5d6;
  --danger: #ff3333;
}

* {
  box-sizing: border-box;
}

#root {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  background-color: white;
}

.container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  max-width: 450px;
  padding: 20px;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin-bottom: 60px;
}

.logo {
  height: auto;
  width: 35px;
}

.heading .title {
  font-size: 24px;
  font-weight: 600;
}

pre {
  font-size: 24px;
}

h4 {
  color: var(--grey);
  font-weight: normal;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 30px;
}

h1 {
  font-size: 24px;
  margin: 0;
  width: 100%;
  margin-bottom: 10px;
}


.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-align-center {
  text-align: center;
}
